<!DOCTYPE html>
<html>
	<head>

	    <!-- meta -->
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- social media -->
	    <meta name="twitter:title" content="'">
	    <meta name="twitter:description" content="">
		<meta name="twitter:card" content="summary_large_image">
	    <meta property="twitter:image" content="">
	    <meta property="og:image" content="">

	    <!-- title -->
	    <title>Will Scarlet // {{ page.title }}</title>
	    <meta name="description" content="{{ page.description }}">

	    <!-- icons -->
	    <link rel="shortcut icon" href="{{ 'assets/img/dune2_icon.ico' | relative_url }}">
	    <link rel="apple-touch-icon" href="{{ 'assets/img/dune2_icon.png' | relative_url }}">

	    <!-- stylesheets -->
	    <link href="{{ 'assets/css/vanilla/style.css' | relative_url }}" rel="stylesheet">
	    <link href="{{ 'assets/css/vanilla/print.css' | relative_url }}" rel="stylesheet" media="print">
	    <link href="{{ 'assets/misc/ss-standard/webfonts/ss-standard.css' | relative_url }}" rel="stylesheet">
	    <link href="{{ 'assets/misc/ss-social-circle/webfonts/ss-social-circle.css' | relative_url }}" rel="stylesheet">

	    <!-- rss -->
	    <link rel="alternate" type="application/rss+xml" href="{{ 'feed.xml' | relative_url }}">

	    <!-- script -->
	    <script>
		</script>

	</head>
	<body>

		{{ content }}

	</body>
</html>
