---
layout: vanilla/default
---

<div class="container is-max-desktop">
	<div class="columns is-centered">
		<div class="column">
			<div class="top left">
				{% include vanilla/header.html %}
			</div>
		</div>
		<div class="column">
			<div class="top right">
				{% include vanilla/nav.html %}
			</div>
		</div>
	</div>
</div>
<div class="cross"></div>
<div class="container is-max-desktop">
	<div class="columns is-centered">
		<div class="column">
			<div class="bottom left">
				<div class="post">
					<h1>{{ page.title }}</h1>
					<date>{{ page.date | date: '%B %d, %Y' }}</date>
					<p class="excerpt">{{ page.excerpt }}</p>
				</div>
				<footer id="bottom">
				</footer>
			</div>
		</div>
		<div class="column">
			<div class="bottom right">
				<div class="post">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>