@mixin mobile()
{
	html {
		background-image: none !important;
	}
	header#top {
		img {
			width: 80% !important;
		}
		nav {
			margin-top: -20px !important;
			ul {
				li {
					margin: 0 5px !important;
				}
			}
		}
		p {
			font-size: 1em !important;
		}
	}
	section#splash {
		div#video {
			width: 100% !important;
			height: 240px !important;
		}
		ul.social {
			font-size: 1.5em !important;
		}
	}
	section.section {
		font-size: .9em !important;
		div.feature {
			p {
				padding: 0 !important;
			}
		}
	}
}

@media all and (max-width: 1199px) {
	@include mobile();
}
@media all and (max-width: 991px) {
	@include mobile();
}
@media all and (max-width: 768px) {
	@include mobile();
}
@media all and (max-width: 575px) {
	@include mobile();
}