---
---

@import "colors";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/elements/container.sass";
@import "bulmafix";
@import "vanilla/variables";
@import "quake/mobile";

#cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: white; z-index:9999;}

html {
	background: #282221;
	background-image: url('../../img/quake/blood.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

body {
	@include font-normal();
	font-size: 20px;
	color: #ada193;
	padding: 0;
	margin: 0 30px;
	text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

h1, h2, h3 {
	@include font-fancy();
	color: #b21818;
}

p, li {
	line-height: 1.5;
	a {
		color: #95724a;
		&:hover {
			color: #c8bbab;
		}
	}
	code {
		@include font-normal();
		background: #2a2322;
		padding: .3em .6em;
		font-size: .8em;
		border-radius: 10px;
		color: #a07a70;
		border: 1px solid #453736;
		box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	}
	&.big {
		font-size: 1.3em;
	}
	&.red {
		color: #702121 !important;
	}
	&.signature {
		text-align: right;
		font-size: 1.2em;
		a {
			text-decoration: none;
		}
	}
}
pre {
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	white-space: pre-wrap;
	background: #2a2322;
	padding: 1em;
	font-size: .8em;
	border-radius: 10px;
	color: #a07a70;
	border: 1px solid #453736;
	line-height: 2;
	code {
		@include font-normal();
	}
}

li {
	color: #8b8277;
	margin-bottom: .5em;
	b {
		color: #95724a;
		font-weight: 900;
	}
	span {
		font-size: .9em;
		color: #ada193;
	}
}

a.red {
	color: #891b1b;
	&:hover {
		color: #702121;
	}
}

header#top {
	margin-top: 20px;
	text-align: center;
	h1 {
		font-size: 5em;
		margin: 0;
		img {
			display: inline-block;
			width: 50%;
		}
	}
	nav {
		z-index: 1;
		position: relative;
		margin-top: -50px;
		text-align: center;
		padding-bottom: 1em;
		font-size: 1.2em;
		ul {
			margin: 0;
			padding: 0;
			li {
				margin: 0 10px;
				padding: 0;
				list-style-type: none;
				display: inline;
				a {
					text-decoration: none;
					color: #9c2000;
					&:hover {
						color: #891b1b;
					}
				}
			}
		}
	}
}

section#splash {
	padding: 40px 0;
	text-align: center;
	div#video {
		margin-bottom: 50px;
		border: 1px solid #453736;
		display: inline-block;
		width: 560px;
		height: 355px;
		background-image: url('../../img/quake/tile.png');
		background-repeat: repeat;
		background-position: center;
		text-align: center;
		padding: 20px;
		border-radius: 20px;
		box-shadow: inset 0 0 20px rgba(173, 161, 147, .5), 0 0 100px rgba(0, 0, 0, .25);
		iframe {
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(0, 0, 0, .5);
			background: black;
		}
	}
	ul.social {
		font-size: 1.5em;
	}
}

section.section {
	margin: 0 0 100px 0;
	.center {
		text-align: center;
	}
	h2 {
		font-size: 2em;
		margin-bottom: 0;
	}
	p.center.big.red {
		margin-top: 0;
	}
	h3 {
		color: #95724a;
		font-size: 1.2em;
	}
	div.feature {
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		font-size: .9em;
		h3 {
			margin-bottom: 0;
			padding: 0;
			color: #95724a;
		}
		p {
			padding: 0 10%;
			margin-top: .5em;
		}
	}
	div.map {
		padding: 10px;
		h3 {
			font-size: 1em;
			margin: 0;
		}
		p {
			margin: 0;
			margin-bottom: 1em;
			font-size: .8em;
			color: #8b8277;
			position: relative;
			display: block;
			b {
				@include font-fancy();
				font-size: .8em;
				color: #702121;
			}
			span {
				color: #a07a70;
			}
		}
	}
	a.photo {
		display: block;
		box-shadow: 0 0 10px rgba(0, 0, 0, .25), 0 0 500px rgba(105, 64, 54, .25);
		overflow: hidden;
		border-radius: 5px;
		position: relative;
		img {
			transition: filter 0.3s ease-in-out;
			display: block;
			width: 100%;
			filter: brightness(115%);
		}
		&:hover {
			img {
				filter: brightness(150%);
			}
		}
		margin-bottom: 1em;
		div.overlay {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom right, rgba(200, 187, 171, .25), transparent, rgba(200, 187, 171, .25));
		}
	}
}

footer#bottom {
	text-align: center;
	padding-bottom: 100px;
	a {
		font-size: 1.2em;
		text-decoration: none;
	}
	ul.social {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: inline;
			a {
				text-decoration: none;
				color: #9c2000;
				&:hover {
					color: #891b1b;
				}
			}
			i {
				font-size: 1.4em;
				vertical-align: middle;
			}
		}
	}
	p {
		color: #876c6a;
		&.small {
			font-size: .8em;
			margin: 2em 0;
		}
	}
}